<h1> <%= @list.name %> </h1>

<p> <%= @answer %> </p>
<%= link_to 'â¬… Back to lists', lists_path %> |
<%# <%= link_to '+ Add movie', new_bookmark_path %>
<%# <%= link_to 'ðŸ“ Edit this list', edit_task_path(@task) %>
